<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Backbone.js——Todos</title>
	<link rel="stylesheet" href="./todos.css">
</head>
<body>
	<div class="todo-app" id="app">
		<header class="header header__todoApp">
			<h1 class="header__title">todo MVC</h1>
			<input class="header__input header__input_normal" id="new-todo" type="text"
			placeholder="What needs to be done?">
		</header>

		<section class="main" id="main">
			<input class="toggleAll main__toggleAll" id="toggle-all" type="checkbox">
			<label class="toggleAllLabel main__toggleAllLabel">Mark all as completed</label>
			<ul class="todo-list" id="todo-list"></ul>
		</section>

		<footer>
			<div id="todo-count"></div>
			<div id="clear-completed"></div>
		</footer>
	</div>
	<div id="instructions">
		Double-Click to edit a todo.
	</div>
	<div id="credits">
		Created by
		<br/>
		<a href="https://TerenYeung.github.com">Teren Yeung</a>
		<br/>
		Rewritten by:
		<a href="http://addyosmani.github.com/todomvc">TodoMVC</a>.
	</div>

	<script src="./spec/support/jquery.js"></script>
	<script src="./spec/support/underscore.js"></script>
	<script src="./spec/support/backbone.js"></script>
	<script src="./backbone.localStorage.js"></script>
	<script src="./todos.js"></script>

	<script type="text/template" id="item-template">
		<div class="view">
			<input class="toggle" type="checkbox"
				<%= done ? 'checked = "checked" ' : '' %>
			/>
			<label class="toggle-label"><%- title %></label>
			<a class="destroy"></a>
		</div>
		<input class="edit" type="text" value="<%- title %>">
	</script>

	<script type="text/template" id="stats-template">

		<div class="todo-count">
			<b><%= remaining %></b>
			<%= remaining ==1 ? 'item' : 'items' %>
			left
		</div>

		<% if(done) { %>

			<a id="clear-completed">
				Clear
				<%= done %>
				completed
				<%= done == 1 ? 'item' : 'items' %>
			</a>

		<% } %>

	</script>

</body>
</html>